* {
  box-sizing: border-box;
}

ul, li, ol {
  list-style: none;
}

.navbar .navbar-brand {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  transition: transform 1.9s linear;
  transition-delay: 0.1s;
}

.card-container p {
  margin-bottom: 0;
}

.p-wrapper {
  padding-bottom: 6px;
  margin: 1px;
  height: 6rem;
  max-width: 350px;
}

h1 {
  font-weight: 600;
  font-size: 40px;
  font-style: italic;
}

.navbar-hide {
  transform: translateX(580px);
}

body {
  min-width: 300px;
  background-color: #fadc89;
}

.navbar ul {
  align-items: center;
}

.btn-outline-dark {
  margin-top: 16px;
}

.navbar ul li {
  cursor: pointer;
}

.content {
  min-height: calc(100vh - 90px);
}


.card-content-container li {
  background-color:#ff52e8;
  border: 1px white solid;
}

.footer-container {
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer-container svg {
  cursor: pointer;
  margin: 2rem;
  height: 30px;
  width: 30px;
  transition: transform 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
  padding-bottom: 3px;
  border-bottom: 0px #deb618 solid;
}

.footer-container svg:hover,
.navbar ul li:hover {
  transform: scale(1.15) rotate(4deg);
}

.card-container:hover {
  transform: rotate(2deg);
  background-color: #fadc89;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: rgba(217, 130, 224, 0.4) 0px 2px 4px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: background-color 0s linear, transform 0.4s ease-in;
  min-width: 312px;
}

.education-container, .experience {
  text-align: center;
}

.img-container {
  text-align: center;
  margin-bottom: 8px;
}

.img-container img {
  width:  90%;
  height: 90%;
  border-radius: 12px;
}

.card-container img, .card-svg svg {
  height: 16rem;
  width: 16rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.page-break {
  
  margin-top: 18px;
  width: 10%;
  height: 2px;
  background-color:rgb(217, 130, 224);
}

.about {
  background-color: #fadc89;
}

html {
  font-family: "Open Sans", sans-serif;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skills-container img {
  height: 5rem;
  margin: 1rem;
}

.skills h2 {
    text-align: center;
  }

  .content-about h2 {
    margin-bottom: 1rem; 
  }

/* Cube keyframes */

@keyframes spin1 {
  to {
    transform: perspective(600px) rotateX(360deg) rotateY(450deg) rotateZ(0deg);
  }
}
@keyframes spin2 {
  0% {
    transform: perspective(600px) rotateX(0deg) rotateY(270deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(600px) rotateX(360deg) rotateY(630deg) rotateZ(0deg);
  }
}
@keyframes spin3 {
  0% {
    transform: perspective(600px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(600px) rotateX(450deg) rotateY(0deg) rotateZ(-360deg);
  }
}
@keyframes spin4 {
  0% {
    transform: perspective(600px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(600px) rotateX(270deg) rotateY(0deg) rotateZ(360deg);
  }
}
@keyframes spin5 {
  0% {
    transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(600px) rotateX(360deg) rotateY(360deg) rotateZ(0deg);
  }
}
@keyframes spin6 {
  0% {
    transform: perspective(600px) rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(600px) rotateX(360deg) rotateY(540deg) rotateZ(0deg);
  }
}

/* Cube styles */

.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.box3d div {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  opacity: 0.95;
  transform-origin: 50% 50% -60px;
}

.box3d {
  margin-top: 1em;
  width: 60px;
  height: 60px;
  margin: 90px auto;
  position: relative;
  transform-style: preserve-3d;
}

.p1 {
  background: #ff52e8;
  transform: perspective(600px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  animation: spin1 10s infinite linear;
}

.p1 img,
.p2 img,
.p3 img,
.p4 img,
.p5 img,
.p6 img {
  height: 60px;
  width: 60px;
  margin: 0.5em;
}

.p2 {
  background: #deb618;
  color: black;
  animation: spin2 10s infinite linear;
}

.p3 {
  background: #27f5cf;
  color: black;
  animation: spin3 10s infinite linear;
}

.p4 {
  background: #d982e0;
  animation: spin4 10s infinite linear;
}

.p5 {
  background: #5021eb;
  animation: spin5 10s infinite linear;
}

.p6 {
  background: #27f5cf;
  animation: spin6 10s infinite linear;
}

/* MEDIA QUERIES  */

@media screen and (min-width: 768px) {

  .img-container {
    text-align: left;
  }

  .experience {
    text-align: left;
  }

  .education-container{
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
  }

  .education-container .img-container {
    text-align: right;
  }

  .skills h2 {
    text-align: left;
  }
}
